/*HEADER*/
header {
    background-color:none;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    align-items: center;
    color: white;
    background-color:#3B3486;
    position: fixed;
    z-index: 10;
}

header .con1 #logo {
    width: 50px;
    height: 50px;
    margin: 0 10px 0 5px;
}

.con1 {
    height: 100%;
    width: 30%;
    color: white;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.con1 #name {
    font-size: xx-large;
    font-weight: bold;
}

.con2 {
    height: 100%;
    width: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.con2 ul {
    height: 100%;
    margin:0 20px 0 0;
}

.con2 ul li {
    display: inline-block;
    margin: 0 10px 0 10px;
    font-size: large;
    list-style: none;
    font-weight: bold;
    height: 100%;
    line-height: 60px;
    box-sizing: border-box;
    padding :0 5px;
}

.con2 ul li a {
    height: 100%;
    text-decoration: none;
    color: white;
}
.con2 li:hover {
    cursor: pointer;
    border-bottom: black solid 5px;

}