/*Header*/
header {
    background-color:#3B3486;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    align-items: center;
    z-index: 10;
    top: 0;
}

header .con1 #logo {
    width: 50px;
    height: 50px;
    margin: 0 10px 0 5px;
}

.con1 {
    height: 100%;
    width: 30%;
    color: white;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.con1 #name {
    font-size: xx-large;
    font-weight: bold;
}

.con2 {
    height: 100%;
    width: 27%;
    color: white;
    align-items: center;
    justify-content: flex-end;
    font-size: larger;
    display: flex;
}
.con2 ul li{
    line-height: 60px;
    list-style: none;
    padding: 0 10px;
}
.con2  ul li i{
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.con2 ul li .sub_menu {
    background-color: #3B3486;
    display: none;
    position: absolute;
    right: 0;
    width: 200px;
    top: 60px;
    z-index: 1;
}
.con2 ul li:hover .sub_menu{
    display: block;
    cursor: pointer;
}
.con2 ul .sub_menu li a{
    color: white;
    text-decoration: none;
}
.con2 ul .sub_menu li:hover{
    background-color: red;
    color: white;
    text-decoration: none;
}