:root {
    --tone: #143F6B;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif ;
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}

/*Header*/
header {
    background-color: #143F6B;
    color: white;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    align-items: center;
}

header .con1 #logo {
    width: 50px;
    height: 50px;
    margin: 0 10px 0 5px;
}

.con1 {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.con1 #name {
    font-size: xx-large;
    font-weight: bold;
}

.con2 {
    height: 100%;
    width: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.con2 ul {
    height: 100%;
    margin-bottom: 0;
}

.con2 ul li {
    display: inline-block;
    margin: 0 10px 0 10px;
    font-size: large;
    list-style: none;;
    font-weight: bold;
    height: 100%;
    line-height: 60px;
}

.con2 ul li a {
    height: 100%;
    text-decoration: none;
    color: white;
}

.con2 li:hover {
    color: gray;
    cursor: pointer;
    border-bottom: white solid 5px;

}
.con2 li:nth-child(3){
    border-bottom: white solid 5px;
}
/*Slider */
.slider {
    width: 100%;
    height: 600px;
    margin-top: 0px;
}
/*Xét lại kích thước ảnh chuyển*/
#carouselExampleIndicators img {
    width: 100%;
    height: 600px;
}
/*Introduce*/
/* Phần giới thiệu*/
.introduce {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.introduce .con{
    width: 24%;
    display: flex;
}
.introduce .con .img{
    width: 40%;
    display: flex;
}
/*Chỉnh kích thước ảnh*/
.introduce .con .img img{
    width: 100px;
    height: 100px;
    margin: auto;
}
/*Thông tin chú thích bên cạnh ảnh*/
.introduce .con .in4{
    width: 60%;
    padding: 20px 20px 20px 20px;
}
.introduce .con h5{
    font-weight: 700;
}
/* Hiệu ứng khi trỏ vào div logo*/
.introduce .con:hover #logo { 
    transform: translateY(-10%);
    transition: 1s;
    cursor: pointer;
}
/*Courses*/
.courses{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.courses .course{
    width: 32%;
    background-color: #143F6B;
    padding: 10px;
    color: white;
    border-radius: 10px;
}
.courses .course .course_img{
    width: 80%;
    margin: 3% 10% ;
    border-radius: 50px;
}
figure{
    overflow:hidden ;
    border-radius: 50px;
    border: 3px white solid;
}
.courses .course .course_img #img1{
    display: block;
    width: 100%;
    transform: scale(1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 50px;
}
.courses .course figure:hover #img1{
    transform: scale(1.3);
    border-radius: 50px;
}
/*Danh sách cam kết*/
.courses .course ul {
    margin-left: 10px;
    list-style: none;
}
.courses .course ul li{
    padding: 10px;
}
.courses .course ul li i{
    padding-right: 10px;
}
.courses .course .line{
    width: 80%;
    margin-left:10% ;
    border-bottom: solid white 3px ;
}
/*Star*/
.courses .course .icon{
    margin: 5px 0px 10px 0;
    display: flex;
    justify-content: center;
}
.courses .course .icon i{
    padding:0px 10px;
}
/*Thong tin HLV*/
.courses .course .class_name{
    text-align: center;
    font-size: xx-large;
}
.courses .course .coach_img{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.courses .course .coach_img #img2{
    width: 150px;
    height: 150px;
}
.courses .course .coach_name{
    text-align: center;
    font-size: large;
}
.courses .course .coach_name i{
    padding-right: 5px;
}
.courses .course .quotes {
    height: 90px;
    width: 80%;
    border-left: 2px white solid;
    border-bottom: 2px white solid;
    margin-left: 10%;
    padding: 10px;
    margin-top: 3%;
}
/*Thông tin khóa học*/
.courses .course .course_in4 h3{
    text-align: center;
    margin: 15px;
}
.courses .course .course_in4 ul li a{
    color: white;
}
/*Rules*/
.rules{
    width: 100%;
    height: auto;
    margin: 2% 0px;
}
.rules h3{
    text-align: center;
}
.rules .contain{
    display: flex;
    margin-top: 30px;
}
.rules .contain .rule{
    width: 50%;
    height: auto;
}
.rules .contain  .rule:first-child{
    border-right: solid black 2px ;
}
.rules .contain .rule .icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rules .contain .rule .icon i{
    font-size: 1cm;
    margin: 10px 0px;
}
.rules .contain .rule ul{
    margin-left:10px ;
}
.rules .contain .rule ul li{
    list-style:decimal;
    padding : 10px 10px;
    font-size: larger;
}
/*INFORMATION*/
.info{
    background-color: var(--tone);
    height:200px;   
    color: white;
}
.info .con1{
    height: 70%;
    width: 90%;
    background-color: var(--tone);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid black 2px;
    margin-left: 5%; 
}
.info .con1 .content {
    width: 30%;
    text-align: center;
}
.info .con1 .content li{
    text-align: center;
    list-style: none;
}
.info .con1 .content li a{
    text-decoration: none;
    color: white;
}
.info .con1 .content ul li:first-child{
    font-weight: bold;
}
.info .con1 .content li a:hover{
    color: red;
}
.info .con2{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.info .con2 .about {
    width: 50%;
    height: 100%;
}
.info .con2 .about .in4 {
    width: 100%;
    height: 30%;
    text-align: center;
    font-size:small;
    color: white;
}
.info .con2 .about .in4 a{
    text-decoration: none;
    color: white;
}
.info .con2 .about .in4 a:hover{
    color: gray;
}